{
    "presets": [
        "@babel/env",
        [
            "@babel/typescript", 
            { 
                "jsxPragma": "h" 
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-react-jsx",
            { 
                "pragma":"h" 
            }
        ],
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ]
    ]
}
